h1 {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: maroon;
}

main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    color: black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.background{
    background-color: lightgray;
    margin-bottom: 0%;
    margin-top: 0%;
}

#container{
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 100px auto;
}

header{
    grid-column-start: 1;
    grid-column-end: 3;
    border-bottom: 4px black solid;
}

nav{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 0%;
}

form{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.error-box {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    background-color: rgb(250, 220, 220);
    border: 1px solid red;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.post{
    padding-left: 525px;
    border-bottom: white 5px solid;
}

.title{
    margin-left: 550px;
}

.time{
    margin-left: 500px;
}

.notification{
    padding-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: green;
}

.otherblogs{
    background-color: whitesmoke;
    border: maroon 2px solid;
    margin-left: 725px;
}

img {
    margin-left: 380px;
}
